<html>
 <body>
 <h2 align="center"> Result for : "<%=@text%>"</h2>
 <h3 align="center">This product does not exist</h3>
 <p align="center"><input type="button" value='Go Back' onclick="javascript:history.go(-1)"> </p>
 </body>
</html>